{{^options.noop}}
(function ({{#hasInternal}}require{{/hasInternal}}) {

  var module = { exports: {} }, exports = module.exports;
{{#mainSource}}

{{{indented}}}{{/mainSource}}
  provide("{{packageName}}{{#isInternal}}:{{filename}}{{/isInternal}}", module.exports);
{{#options.sandbox}}{{^isInternal}}

  window["{{packageName}}"] = module.exports;
{{/isInternal}}{{/options.sandbox}}{{#enderSource}}

{{{indented}}}
{{/enderSource}}
{{^enderSource}}
  $.ender(module.exports);
{{/enderSource}}
}({{#hasInternal}}function (path) { return require(path, "{{dirname}}", "{{packageName}}"); }{{/hasInternal}}));{{/options.noop}}{{#options.noop}}{{{mainSource.raw}}}{{/options.noop}}